/*----- 共通 -----*/
body {
    font-family: "Kiwi Maru", "Zen Kaku Gothic Antique", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    background-color: #edf1f7;
    color: #333333;
    overflow-y: scroll;
}

/***** フォント *****/
/* h1とlogreg部分は各クラス側で保持 */
/* 共通 */
h2 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 0px auto 20px;
}

/* データ一覧部分 */
.item_type {
    font-size: 9px;
    font-weight: 500;
}

.item_name {
    font-size: 16px;
    font-weight: 400;
}

.item_data, .mgact_btn, .mgsub_btn{
    font-size: 12px;
    font-weight: 400;
}

.mg_none {
    font-size: 14px;
    font-weight: 400;
}

/* 詳細部分 */
.detail_item p,
.ticketinfo_item, .program_url {
    font-size: 14px;
    font-weight: 400;
}

.detail_item h3,
.ti_type, .ti_type_sp, .ti_stitle {
    font-size: 12px;
    font-weight: 400;
}

.google_btn {
    font-size: 10px;
    font-weight: 400;
}

/* 推し登録画面 */
.manage_fav_wrap {
    font-size: 16px;
    font-weight: 400;
}

.delete_btn {
    font-size: 10px;
    font-weight: 400;
}

/* ヘッダー */
.tab_wrap {
    font-size: 16px;
    font-weight: 400;
}

.setting_wrap, .notify_wrap {
    font-size: 14px;
    font-weight: 400;
}

.notify_item {
    font-size: 12px;
    font-weight: 400;
}

/* その他 */
.filter_area {
    font-size: 16px;
    font-weight: 400;
}

footer {
    font-size: 10px;
    font-weight: 400;
}

/* フォーム共通 */
.input_form {
    margin: 0 auto;
    width: fit-content;
}

.input_item {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}

.inputarea {
    border: 1px solid #2d3436;
    border-radius: 5px;
    background-color: #ffffff;
    width: 300px;
    height: 40px;
    padding: 0 10px;
}

select.inputarea {
    appearance: auto;
}

/*----- ログイン・登録部分 -----*/
#index, #reg{
    background-image: url(../img/mv_pc.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.logreg_inner {
    padding: 0 25px;
    min-height: calc(100vh - 30px);
    margin: 0 auto;
    max-width: 1050px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
}

.logreg_copy h1{
    font-size: 35px;
    font-weight: 500;
    line-height: 2;
    padding-bottom: 100px;
}

.logreg_wrap {
    font-size: 16px;
    font-weight: 400;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
}

.alert {
    border: 1px solid red;
    color: red;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
    margin: 30px auto 20px;
}

.reg_info{
    font-size: 12px;
    margin-top: 15px;
    color: #888888;
}


/* ボタン（logreg） */
.act_btn, .sub_btn{
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin: 30px auto 0;
    width: 170px;
    height: 40px;
}

.act_btn{
    color: #ffffff;
    background-color: #30ADD1;
}

.sub_btn{
    color: #888888;
    background-color: #cccccc;
}

.act_btn:hover, .sub_btn:hover{
    background-color: #333333;
    color: #fdcb6e;
}

.logreg_wrap a.act_btn {
    /* ここだけ幅を調整 */
    width: auto;
}

/*----- フッター -----*/
footer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logreg_footer {
    color: #ffffff;
}

/*----- ヘッダー -----*/
header {
    background-color: #edf1f7;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 10px 30px;
}

header h1 {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.sp_filter, .overlay {
    display: none;
}

/* アイコンエリア */
.icon_wrap{
    display: flex;
    column-gap: 20px;
}

.icon_wrap img {
    width: 20px;
}

.icon_wrap img:hover {
    opacity: 0.8;
}

.setting, .notify{
    cursor: pointer;
    position: relative;
}

.setting_wrap {
    display: none;
    position: absolute;
    margin-right: 30px;
    top: 50px;
    background-color: #30ADD1;
    color: #ffffff;
    border-radius: 5px;
    z-index: 10;
    /* ここまで共通 */
    padding: 20px;
    right: 0px;
}

.notify_wrap {
    display: none;
    position: absolute;
    margin-right: 30px;
    top: 50px;
    background-color: #30ADD1;
    color: #ffffff;
    border-radius: 5px;
    z-index: 10;
    /* ここまで共通 */
    padding: 10px 15px 15px;
    width: fit-content;
    max-width: 380px;
    line-height: 1.5;
    right: 30px;
}

/* setting */

.setting_subwrap {
    /* メモ：wrapが初期display:noneなのでsubwrapを作る */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.setting_subwrap a:hover {
    color: #333333;
}

.username {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 2px;
}

/* notify */
.notify_subwrap{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.notify_subwrap h3 {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.notify_subwrap:nth-of-type(2){
    margin-top: 10px;
}

.notify_img{
    width: 16px;
}

.notify_item {
    background-color: #ffffff;
    color: #333333;
    border-radius: 5px;
    padding: 5px 10px;
}

.notify_item_sub{
    display: flex;
    align-items: center;
    column-gap: 5px;
    border-bottom: 1px solid #333333;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.notify_item_sub img{
    width: 12px;
    height: 12px;
}

.notify_link{
    margin-left: 18px;
    position: relative;
    display: flex;
    margin-top: 3px;
}

.notify_link:hover {
    color: #30ADD1;
}

.notify_link::before {
    content: "●";
    color:#30ADD1;
    position: absolute;
    top: 0px;
    left: -18px;
}

/* howtouse */
.howtouse_inner{
    max-width: 750px;
    min-height: calc(100vh - 30px);
    padding: 30px 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.how_h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
}

.how_h3 {
    /* 通常のh2と同じ */
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 0px auto 20px;
}

.how_item{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    line-height: 1.5;
}

.how_item p.normal{
    font-size: 14px;
    font-weight: 400;
}

.how_item p.bold{
    font-size: 14px;
    font-weight: 500;
}

.how_item .mgsub_btn {
    margin-top: 5px;
    display: flex;
    width: fit-content;
}

/* アカウント削除 */
.delete_user {
    text-align: center;
    margin: 30px auto 50px;
}

/* タブ */
.tab_wrap{
    color: #ffffff;
    background-color: #cccccc;
    border-radius: 15px;
    display: flex;
    width: fit-content;
    margin-top: 5px;
}

.tab_item {
    border-radius: 15px;
    width: 200px;
    line-height: 30px;
    text-align: center;
    /* フォント調整 */
    padding-bottom: 1px;
}

.active_tab {
    background-color: #333333;
}

/*----- ログイン・登録以外の全体 -----*/
.sp_title {
    display: none;
}

.inner {
    padding: 64px 25px 30px;
    min-height: calc(100vh - 30px);
    margin: 0 auto;
}

.main_area {
    display: flex;
    column-gap: 10px;
}

.filter_area {
    width: 20%;
    min-width: 240px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    height: fit-content;
}

.data_area {
    border-radius: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    
}

/*----- 一覧画面（data_area） -----*/
.item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}

.item_type {
    background-color: #888888;
    color: #ffffff;
    padding: 2px 4px;
    width: fit-content;
    border-radius: 2px;
}

.item_sub {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    line-height: 1.3;
}

.item_name {
    border-bottom: 1px solid #333333;
    padding-bottom: 10px;
    margin-bottom: 2px;
    /* itemsubのrowgap変えたのでmarginで調整 */
}

.item p {
    display: flex;
    align-items: flex-start;
}

.item img {
    width: 12px;
    margin-right: 10px;
    padding-top: 3px;
}

.mg_none {
    /* 管理なしの場合 */
    margin-top: 30px;
}

.item_selected{
    background-color:#fff7e9;
}


/* ボタン */
.mg_btn_wrap {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.mg_btn_wrap_detail {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

.mgact_btn, .mgsub_btn {
    padding: 7px 12px;
    border-radius: 5px;
}

.mgact_btn {
    background-color: #888888;
    color: #ffffff;
}

.mgsub_btn {
    background-color: #cccccc;
    color: #ffffff;
}

.mgact_btn:hover, .mgsub_btn:hover {
    background-color: #333333;
    color: #fdcb6e;
}

/* type別 */
/* ボタンより下に書くこと */
.tv {
    background-color: #21abe6;
    margin-right: 30px;
}

.comedy_show {
    background-color: #ff9f43;
    margin-right: 30px;
}

.radio {
    background-color: #7d50df;
    margin-right: 30px;
}

/*----- 推しフィルタ（filter_area） -----*/
.filter_area .mgsub_btn {
    margin-top: 50px;
}

.filter_favlist {
    display: flex;
    flex-direction: column;
}

.favli_link{
    padding: 10px;
    border-radius: 5px;
}

.favli_link:hover {
    background-color: #d6eff6;
    cursor: pointer;
}

.active_fav {
    background-color: #97d6e8;
    color: #ffffff;
}

.fav_none{
    margin-top: 20px;
    text-align: center;
}

/*----- 推し登録画面 -----*/
.manage_fav_wrap {
    margin: 0 auto;
    width: fit-content;
}

.favlist_area {
    margin: 50px auto 0;
    width: fit-content;
}

.favlist {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 10px;
}

.favlist li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.delete_btn {
    display: inline-block;
    padding: 5px;
    text-align: center;
    background-color: #cccccc;
    border-radius: 5px;
    color: #ffffff;
}

.delete_btn:hover {
    background-color: #333333;
    color: #fdcb6e;
}

/*----- 詳細情報部分 -----*/
/* 公演・番組共通 */
.event_detail, .program_detail {
    max-width: 20%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px 20px;
    position: relative;
    height: fit-content;
}

.ed_close_btn{
    width: fit-content;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.ed_close_btn:hover {
    color: #fdcb6e;
}

.detail_item_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.detail_item h3 {
    font-weight: 500;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #333333;
}

.detail_item p{
    line-height: 1.3;
}

/* 番組情報 */
.program_url {
    background-color: #97d6e8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
}

.program_url:hover {
    color: #ffffff;
}

/* チケット情報 */
.ticketinfo_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10px;
}

.ticketinfo_item {
    font-weight: 500;
    padding: 15px 20px;
    background-color: #97d6e8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.ti_type, .ti_type_sp {
    padding: 5px 10px;
    border-radius: 5px;
    width: fit-content;
}

.ti_type {
    background-color: #ffffff;
}

.ti_type_sp {
    background-color: #fdcb6e;
}

.ti_agency {
    margin: 3px 0;
}

.ti_agency:hover {
    color: #ffffff;
}

.ticketinfo_wrap span {
    text-align: center;
}

/* ボタン */
.google_btn{
    padding: 4px 6px 5px;
    background-color: #cccccc;
    color: #ffffff;
    border-radius: 5px;
    width: fit-content;
    margin: 20px auto 25px;
    display: block;
}

.google_btn:hover {
    background-color: #333333;
    color: #fdcb6e;
}

/*----- Pagetop -----*/
.pagetop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 3;
    opacity: 0;
    transform: translateY(100px);
}
  
.pagetop a{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: block;
    transition: all 0.3s;
    position: relative;
}
  
.pagetop a::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 12px;
    left: 10px;
    transform: rotate(-45deg);
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-radius: 2px;
}
  
.pagetop a:hover{
    background-color: #97d6e8;
}

.pagetop a:hover::before {
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

/*　上に上がる動き　*/
.pagetop.pt-up{
    animation: ptupAnime 1.0s forwards;
}
@keyframes ptupAnime{
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*　下に下がる動き　*/
.pagetop.pt-down{
    animation: ptdownAnime 1.0s forwards;
}
@keyframes ptdownAnime{
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(50px);
    }
}

/* --------------------
    for SP size 
-------------------- */
@media screen and (max-width: 768px){

    /*----- 共通 -----*/
    /***** フォント *****/
    h2 {
        font-size: 16px;
        margin: 0px auto 15px;
    }

    /* データ一覧部分 */
    .item_name {
        font-size: 14px;
    }

    .mgact_btn, .mgsub_btn{
        font-size: 11px;
    }

    .mg_none {
        font-size: 12px;
    }

    /* 詳細部分 */
    .detail_item p,
    .ticketinfo_item, .program_url {
        font-size: 12px;
    }

    .ti_type, .ti_type_sp, .ti_stitle {
        font-size: 10px;
    }
    
    /* 推し登録画面 */
    .manage_fav_wrap {
        font-size: 14px;
    }

    /* ヘッダー */
    .tab_wrap{
        font-size: 13px;
    }
    
    .setting_wrap, .notify_wrap  {
        font-size: 12px;
    }

    .notify_item {
        font-size: 11px;
    }

    /* その他 */
    .filter_area {
        font-size: 13px;
    }
    
    footer {
        font-size: 8px;
    }

    /* フォーム共通 */
    .input_item {
        row-gap: 5px;
    }

    .inputarea {
        width: 280px;
    }

    /*----- ログイン・登録部分 -----*/
    #index, #reg{
        background-image: url(../img/mv_sp.jpg);
        background-position: left;
    }

    .logreg_inner {
        min-height: calc(var(--vh, 1vh) * 100 - 30px);
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;
    }

    .logreg_copy h1{
        font-size: 20px;
        line-height: 1.8;
        padding-bottom: 0px;
        text-align: center;
    }

    .logreg_wrap {
        font-size: 14px;
        padding: 20px 20px 30px;
    }

    /* ボタン（logreg） */
    .act_btn, .sub_btn{
        margin: 20px auto 0;
        width: 150px;
        height: fit-content;
    }

    /*----- ヘッダー -----*/
    header {
        height: 50px;
        padding: 10px 25px;
    }

    header h1 {
        /* display: none; */
        font-size: 13px;
        letter-spacing: 0.02em;
    }

    .sp_filter {
        display: block;
        /* 左右合わせるため（18px+15px) */
        /* margin-right: 33px; */
    }

    .sp_filter img {
        width: 18px;
    }

    /* アイコンエリア */
    .icon_wrap{
        column-gap: 15px;
    }

    .icon_wrap img {
        width: 18px;
    }

    /* notify */
    .notify_wrap {
        margin-right: 0px;
        top: 40px;
        width: calc(100vw - 50px);
        right: 25px;
        padding: 7px 10px 10px;
    }

    .notify_subwrap{
        row-gap: 7px;
    }

    .notify_subwrap h3 {
        line-height: 1.0;
    }

    .notify_item_sub img{
        width: 11px;
        height: 11px;
    }

    .notify_link{
        margin-left: 17px;
    }

    .notify_link::before {
        left: -17px;
    }

    /* タブ */
    .tab_wrap{
        border-radius: 5px;
        margin-top: 0px;
    }

    .tab_item {
        border-radius: 5px;
        width: fit-content;
        line-height: 25px;
        padding: 1px 10px 2px;
    }

    /* howtouse */
    .howtouse_inner{
        min-height: calc(var(--vh, 1vh) * 100 - 30px);
        row-gap: 20px;
    }

    .how_h2 {
        font-size: 20px;
    }

    .how_h3 {
        font-size: 16px;
    }

    .how_item p.normal,
    .how_item p.bold {
        font-size: 12px;
    }

    .delete_user {
        line-height: 1.5;
    }
    
    /*----- ログイン・登録以外の全体 -----*/
    .sp_title {
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        margin-bottom: -5px;
        margin-top: 5px;
    }

    .inner {
        padding: 50px 25px 10px;
        min-height: calc(100vh - 30px);
    }

    .main_area {
        flex-direction: column;
        row-gap: 15px;
    }

    .filter_area {
        padding: 15px;
        width: 70%;
        max-width: 320px;
        margin: 0 auto;
    }

    .data_area {
        gap: 15px;
    }

    /*----- 推しフィルタ（filter_area） -----*/
    .filter_area .mgsub_btn {
        margin-top: 15px;
    }

    .favli_link{
        padding: 8px 10px;
    }

    /*----- 一覧画面（data_area） -----*/
    .item {
        width: 100%;
        padding: 15px 20px;
        row-gap: 15px;
    }

    .item_sub {
        row-gap: 6px;
    }

    .item_name {
        padding-bottom: 8px;
    }

    .item img {
        margin-right: 8px;
    }
    
    .mgact_btn, .mgsub_btn {
        padding: 6px 10px;
    }

    /*----- 詳細情報部分 -----*/
    /* 公演・番組共通 */
    .event_detail, .program_detail {
        max-width: 100%;
        padding: 30px 20px 20px;
    }

    .detail_item_wrap {
        row-gap: 10px;
    }

    /* チケット情報 */
    .ticketinfo_item {
        width: fit-content;
        margin: 0 auto;
    }

    /* 番組情報 */
    .program_url {
        width: fit-content;
        margin: 10px auto 0;
        padding: 10px 15px;
    }

    /* ----- Pagetop ----- */
    .pagetop {
        right: 7px;
        bottom: 7px;
    }
    
    .pagetop a{
        width: 24px;
        height: 24px;
    }
    
    .pagetop a::before {
        width: 10px;
        height: 10px;
        top: 9px;
        left: 7px;
    }

}